*{
margin:0px;	
padding:0px;
}
#S1{
width:1530px;
	height:2500px;
	background-color:grey;	
	margin:100px auto;
}
#header{
	width:1530px;
	height:60px;
	background-color:red;
}
#section{
	width:1530px;
	height:400px;
	background-color:#191a36;
}
#section1{
	width:1530px;
	height:100px;
	background-color:#373ba3;
}
#section2{
	width:1530px;
	height:400px;
	background-color:#276061;
}

#B1{
	width:1530px;
	height:400px;
	background-color:orange	;
}
#C1{
width:1530px;
	height:500px;
	background-color:red;
  margin:0px 0px 0px 0px;		
}
#c1{
	float:left;
 width:650px;
	height:500px;
	background-color:#5e580d;
  margin:0px 0px 0px 0px;	
}
#c2{
	float:left;
 width:850px;
	height:500px;
	background-color:#e6e09a;
  margin:0px 0px 0px 30px;
}  
#D1{
width:1530px;
	height:500px;
	background-color:#614341;
  margin:0px 0px 0px 0px;		
}
#d1{
	float:left;
 width:850px;
	height:500px;
	background-color:#2e7e8c;
  margin:0px 0px 0px 0px;	
}
#d2{
	float:left;
 width:650px;
	height:500px;
	background-color:#6bdef2;
  margin:0px 0px 0px 30px;	
}

footer{
	
	
    width:1530px;
	height:200px;
	background-color:black;
  margin:0px 0px 0px 0px;	
}